*{
	margin: 0;
	padding: 0;
}

.cars{
	display:flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #ffffff;
}

.cars div{
	outline: 1px solid black;	
	background-color: #f8f8f8;
	margin: 20px;
	padding: 20px;
	width: 360px;
	height: 360px;
	background-image: url(https://subaru.ru/uploads/blocks/resize__320_1e6b47d9ec2e618cba0c316e03288a485cee8846d6b05.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 80%;
    transition: background-size .5s,background-position .5s; 
}
.cars div:hover{
	background-size: 120%;
	background-position:right 300% top 50% ;
}

.cars div .descr{
	opacity: 0;
	text-decoration: none;
	color: blue;
	padding: 10px;
	border: 2px solid blue;
	display: inline-block;
	border-radius: 4px;
	/*transition: all .5s;*/
	transition: background .5s, color .5s,opacity .5s;
}

.cars div:hover .descr{
	opacity: 1;
	
}
.cars div .descr:hover{
	background-color: blue;
	color: white;
}
